.profile__info {
    margin: 0;
    padding-left: 30px;
    height: fit-content;
    width: fit-content;
    padding-top: 22px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: max-content 24px;
    grid-template-rows: minmax(39px,auto) 18px;
    grid-template-areas: 
    "name edit"
    "job job";
    grid-gap: 7px;
    align-items: flex-end;
}

@media screen and (max-width: 1053px) and (min-width: 320px) {
    .profile__info {
        padding-top: 26px;
        padding-left: 0;
        margin: 0 auto;
        grid-template-columns: max-content 18px;
        grid-template-rows: minmax(26px,auto) 14px;
        grid-gap: 14px;
    }
}