.login__input {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    outline: 0;
    padding: 0;
    width: 358px;
    height: 27px;
    border: 0;
    border-bottom:2px solid #CCCCCC;
    margin-bottom: 30px;
    background-color: transparent;
    color: #FFFFFF;
}

.login__input:nth-of-type(2) {
    margin-bottom: 216px;
}